<h2><%= @item.name %></h2>

<%= link_to "Edit", edit_item_path, :class => "btn btn-info" %>

<%= link_to "Delete", item_path(@item),
                         :data => {:confirm => "Are you sure you want to delete #{@item.name}?",
                                   :method => "delete"},
                         :class => "btn btn-danger" %>

<%= link_to "Go Back", items_path, :class => "btn btn-default" %>
